# SECTION 1 : FUNDAMENTALS

## PYTHON SYNTEX

#### Whitespace Indendation

In [3]:
def main():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i =i + 1
main()

1
2
3
4
5
6
7
8
9

#### Continuation of statements
On website a,b,c is not defined so here its showing error

In [1]:
if (a == True) and (b == False) and \
   (c == True):
    print("Continuation of statements")

NameError: name 'a' is not defined

#### Keywords

In [2]:
# False      class       finally    is          return
# None       continue    for        lambda      try
# True       def         from       nonlocal   while
# and        del         global     not         with
# as         elif        if         or          yield
# assert     else        import     pass
# break      except      in         raise

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### String literals

In [5]:
s ='This is a string'
print(s)
s ="Another string using double quotes"
print(s)
s ='''string can span
        multiple line'''
print(s)

This is a string
Another string using double quotes
string can span
        multiple line

## VARIABLES

#### Creating Variable

In [2]:
message = 'Hello, World!'
print(message)
message = 'Good Bye!'
print(message)

Hello, World!
Good Bye!

## STRINGS

In [3]:
message = 'This is a string in Python'
message = "This is also a string"
message = "It's a string"
message = '"Beautiful is better than ugly.". Said Tim Peters'
message = 'It\'s also a valid string'
message = r'C:\python\bin'

#### Creating multiline strings

In [5]:
help_message= '''
Usage: mysql command
    -h hostname
    -d name
    -u username
    -p password
'''
print(help_message)

Usage: mysql command
    -h hostname
    -d name
    -u username
    -p password

#### Using variables in Python strings with the f-strings

In [6]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

#### Concatenating Python strings

In [7]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [9]:
greeting = 'Good '
time = 'Afternoon'
greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

#### Accessing string elements

In [10]:
str = "Python String"
print(str[0]) 
print(str[1])

P
y

In [11]:
str = "Python String"
print(str[-1]) 
print(str[-2])

g
n

#### Getting the length of a string

In [12]:
str = "Python"
str_len = len(str)
print(str_len)

6

#### Slicing strings

In [16]:
str = "Python"
print(str[0:2])

Py

#### Python strings are immutable

In [13]:
str = "Python String"
str[0] = 'J'

TypeError: 'str' object does not support item assignment

In [14]:
str = "Python String"
new_str = 'J' + str[1:]
print(new_str)

Jython String

## PYTHON NUMBERS

#### Integers

In [17]:
20 + 10

30

In [18]:
20 - 10

10

In [19]:
20 * 10

200

In [20]:
20 / 10

2.0

In [21]:
3**3

27

In [23]:
20 / (10 + 10)

1.0

#### Floats

In [24]:
0.5 + 0.5

1.0

In [25]:
0.5 - 0.5

0.0

In [26]:
0.5 / 0.5

1.0

In [27]:
0.5 * 0.5

0.25

In [28]:
# division of two integers always returns a float
20 / 10

2.0

In [29]:
1 + 2.0

3.0

In [30]:
0.1 + 0.2

0.30000000000000004

#### Underscores in numbers

In [14]:
count = 10000000000

In [31]:
count = 10_000_000_000
count = 10_000_000_000
print(count)

10000000000

## PYTHON BOOLEAN

In [32]:
is_active = True
is_admin = False

In [33]:
20 > 10,20 < 10,'a' < 'b','a' > 'b'

(True, False, True, False)

#### The bool() function

In [35]:
bool('Hi'),bool(''),bool(100),bool(0)

(True, False, True, False)

## PYTHON CONSTANTS

In [36]:
FILE_SIZE_LIMIT = 2000

## PYTHON COMMENTS

#### Python block comments
Added price and salary value to avoid error

In [37]:
price= 100
price = price * 1.05

### Python inline comments

In [47]:
salary=1000
salary = salary * 1.02

#### Python docstrings
#### 1) One-line docstrings
commenting the code for one line and multi line docstring because its howing error

In [44]:
# def quicksort():
# """ sort the list using quicksort algorithm """

#### 2)Multi-line docstrings

In [43]:
# def increase(salary, percentage, rating):
#     """ Example
#     of
#     mulitline
#     docstrings
#     """

## PYTHON TYPE CONVERSION

#### Introduction to type conversion in Python

In [49]:
value = input('Enter a value:')
print(value)

100

In [51]:
#it will show error as per website steps it will be resolved in next step
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')
tax_amount = price * tax / 100
print(f'The tax amount price is ${tax_amount}')

TypeError: can't multiply sequence by non-int of type 'str'

In [52]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

tax_amount = int(price) * int(tax) / 100
print(f'The tax amount is ${tax_amount}')

The tax amount is $10.0

### Getting the type of a value

In [25]:
type(100),type(2.0),type('Hello'),type(True)

(int, float, str, bool)

# SECTION 2 : OPERATORS

## PYTHON COMPARISION OPERATORS

#### Less than operator (<)

In [54]:
10 < 20, 30 < 20,'apple' < 'orange','banana' < 'apple'

(True, False, True, False)

In [53]:
x = 10
y = 20
x < y,y < x

(True, False)

#### Less than or equal to operator (<=)

In [55]:
20 <= 20,10 <= 20,30 <= 30

(True, True, True)

In [56]:
x = 10
y = 20
x <= y,y <= x

(True, False)

#### Greater than operator (>)

In [57]:
20 > 10,20 > 20,10 > 20,'apple' > 'orange','orange' > 'apple'

(True, False, False, False, True)

#### Greater Than or Equal To operator (>=)

In [58]:
20 >= 10,20 >= 20,10 >= 20,'apple' >= 'apple','apple' >= 'orange','orange' >= 'apple'

(True, True, False, True, False, True)

#### Equal To operator (==)

In [59]:
20 == 10,20 == 20,'apple' == 'apple','apple' == 'orange'

(False, True, True, False)

#### Not Equal To operator (!=)

In [60]:
20 != 20,20 != 10,'apple' != 'apple','apple' != 'orange'

(False, True, False, True)

## PYTHON LOGICAL OPERATORS

#### The and operator

In [36]:
price = 9.99
price > 9 and price < 10

True

In [38]:
price > 10 and price < 20

False

#### The or operator

In [39]:
price = 9.99
price > 10 or price < 20

True

In [40]:
price = 9.99
price > 10 or price < 5

False

#### The not operator

In [41]:
price = 9.99
not price > 10

True

In [42]:
not (price > 5 and price < 10)

False

# SECTION 3 : CONTROL FLOW

#### Python if Statement

In [61]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")

You're eligible to vote.

In [50]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
    print("Let's go and vote.")

You're eligible to vote.
Let's go and vote.

In [64]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
print("Let's go and vote.")

Let's go and vote.

#### Python if…else statement

In [65]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
else:
    print("You're not eligible to vote.")

You're not eligible to vote.

#### Python if…elif…else statement

In [66]:
age = input('Enter your age:')
your_age = int(age)
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18
print(f"You'll pay ${ticket_price} for the ticket")

You'll pay $10 for the ticket

## PYTHON TERNARY OPERATOR

#### Introduction to Python Ternary Operator

In [67]:
age = input('Enter your age:')
if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5
print(f"The ticket price is {ticket_price}")

The ticket price is 20

In [68]:
if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

In [69]:
age = input('Enter your age:')
ticket_price = 20 if int(age) >= 18 else 5
print(f"The ticket price is {ticket_price}")

The ticket price is 5

## PYTHON FOR LOOP WITH RANGE

In [70]:
for index in range(5):
    print(index)

0
1
2
3
4

In [71]:
for index in range(5):
    print(index + 1)

1
2
3
4
5

In [72]:
for index in range(1, 6):
    print(index)

1
2
3
4
5

In [73]:
for index in range(0, 11, 2):
    print(index)

0
2
4
6
8
10

#### Using Python for loop to calculate the sum of a sequence

In [57]:
sum = 0
for num in range(101):
    sum += num

print(sum)

5050

In [48]:
n = 100
sum = n * (n+1)/2
print(sum)

5050.0

## PYTHON WHILE

#### 1) Simple Python while statement example

In [58]:
max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

#### 2)Using the Python while statement to build a simple command prompt program

In [74]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

Echo: HI
Echo: While
Echo: quit

## PYTHON BREAK

#### Using Python break with for loop

In [50]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

n = 10

0
1
2
3
0
1
2
3
4
5

In [77]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [76]:
for x in range(5):
    for y in range(5):
        if y > 1:
            break
       
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

#### Using Python break statement with a while loop

In [79]:
print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --

## PYTHON CONTINUE

#### Using Python continue in a for loop example

In [80]:
for index in range(10):
    if index % 2:
        continue

    print(index)

0
2
4
6
8

#### Using Python continue in a while loop example

In [66]:

counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

## PYTHON PASS

In [ ]:
# pass can be used as follow:
# if condition:
#     pass
# for i in range(1,100):
#     pass
# while condition:
#     pass
# def fn():
#     pass
# class Stream:
#     pass

In [52]:
counter = 1
max = 10
if counter <= max:
    counter += 1
else:
    pass

# SECTION 4 : FUNCTIONS

## PYTHON FUNCTIONS

In [81]:
def greet(name):
    """ Display a greeting to users """
    print(name,'Hi')

greet("Professor & TA")

Professor & TA Hi

#### Returning a value

In [84]:
def greet(name):
    return f"Hi {name}"

greeting = greet('John')
print(greeting)

Hi John

#### Python functions with multiple parameters

In [85]:
def sum(a, b):
    return a + b
total = sum(10,20)
print(total)

30

## PYTHON DEFAULT PARAMETERS

#### default parameters example

In [86]:
def greet(name, message='Hi'):
    return f"{message} {name}"
greeting = greet('John', 'Hello')
print(greeting)

Hello John

#### Multiple default parameters

In [74]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"
greeting = greet()
print(greeting)

Hi there

In [87]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet('Hello')
print(greeting)

Hi Hello

In [88]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet(message='Hello')
print(greeting)

Hello there

## PYTHON KEYWORD ARGUMENTS

#### Keyword arguments and default parameters

In [89]:
def get_net_price(price, discount):
    return price * (1-discount)

In [90]:
net_price = get_net_price(100, 0.1)
print(net_price)

net_price = get_net_price(0.1, 100)
print(net_price)

90.0
-9.9

In [62]:
def get_net_price(price, tax=0.07, discount=0.05):
    return price * (1 + tax - discount)

net_price = get_net_price(100)
print(net_price)

net_price = get_net_price(price=100, discount=0.06)
print(net_price)

net_price = get_net_price(100, discount=0.06)
print(net_price)

102.0
101.0
101.0

#### Python keyword argument requirements

In [76]:
net_price = get_net_price(100, tax=0.08, discount=0.06)
print(net_price)

102.0

## PYTHON RECURSIVE FUUNCTIONS

In [78]:
def count_down(start):
    """ Count down from a number  """
    print(start)

    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

#### Using a recursive function to calculate the sum of a sequence

In [79]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index
    return total
result = sum(100)
print(result)

5050

In [80]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0


result = sum(100)
print(result)

5050

## PYTHON LAMBDA EXPRESSIONS

#### Functions that accept a function example

In [82]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

In [91]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

#### Functions that return a function example

In [83]:
def times(n):
    return lambda x: x * n

double = times(2)
result = double(2)
print(result)

result = double(3)
print(result)

4
6

#### Python lambda in a loop

In [84]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

## PYTHON FUNCTION DOCSTRINGS

#### Using docstrings to document functions

In [92]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

# SECTION 5 : LISTS

#### Python List

In [93]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers)

[1, 3, 2, 7, 9, 4]

In [90]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [91]:
coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[[0, 0], [100, 100], [200, 200]]

#### Accessing elements in a list

In [94]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[0])

1

In [95]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[1])

3

In [96]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[-1])
print(numbers[-2])

4
9

#### Modifying, adding, and removing elements

#### 1) Modifying elements in a list

In [97]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10

print(numbers)

[10, 3, 2, 7, 9, 4]

In [98]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[1] = numbers[1]*10

print(numbers)

[1, 30, 2, 7, 9, 4]

In [99]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[2] /= 2

print(numbers)

[1, 3, 1.0, 7, 9, 4]

#### 2) Adding elements to the list

In [93]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)

print(numbers)

[1, 3, 2, 7, 9, 4, 100]

In [100]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.insert(2, 100)

print(numbers)

[1, 3, 100, 2, 7, 9, 4]

#### 3) Removing elements from a list

In [101]:
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]

print(numbers)

numbers = [1, 3, 2, 7, 9, 4]
last = numbers.pop()

print(last)
print(numbers)

numbers = [1, 3, 2, 7, 9, 4]

second = numbers.pop(1)

print(second)
print(numbers)

numbers = [1, 3, 2, 7, 9, 4, 9]

numbers.remove(9)
print(numbers)

[3, 2, 7, 9, 4]
4
[1, 3, 2, 7, 9]
3
[1, 2, 7, 9, 4]
[1, 3, 2, 7, 4, 9]

## PYTHON TUPLES

#### Defining a tuple

In [97]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

#### Assigning a tuple

In [98]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

## SORT, SLICE, UNPACK AND ITERATE LIST

#### Python sorted() function to sort a list of numbers

#### 1) Using the Python List sort() method to sort a list of strings

In [99]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [100]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

#### 2) Using the Python List sort() method to sort a list of numbers

In [101]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores)

print(sorted_scores)

[4, 5, 6, 7, 8, 9]

In [102]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores, reverse=True)

print(sorted_scores)

[9, 8, 7, 6, 5, 4]

#### 3) Using the Python List sort() method to sort a list of tuples

In [105]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]


# define a sort key
def sort_key(company):
    return company[2]
companies.sort(key=sort_key, reverse=True)

print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [106]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

# sort the companies by revenue
companies.sort(key=lambda company: company[2])

# show the sorted companies
print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

## Python List Slice

#### 1) Basic Python list slice example

In [107]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

#### 2) Using Python List slice to get the n-first elements from a list

In [108]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[:3]

print(sub_colors)

['red', 'orange', 'yellow']

 #### 3) Using Python List slice to get the n-last elements from a list

In [110]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[-3:]

print(sub_colors)

['blue', 'indigo', 'violet']

#### 4) Using Python List slice to get every nth element from a list

In [111]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[::2]

print(sub_colors)

['red', 'yellow', 'blue', 'violet']

#### 5) Using Python List slice to reverse a list

In [112]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
reversed_colors = colors[::-1]

print(reversed_colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

#### 6) Using Python List slice to substitute part of a list

In [113]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[0:2] = ['black', 'white']

print(colors)

['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']

#### 7) Using Python List slice to partially replace and resize a list

In [114]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(f"The list has {len(colors)} elements")

colors[0:2] = ['black', 'white', 'gray']
print(colors)
print(f"The list now has {len(colors)} elements")

The list has 7 elements
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list now has 8 elements

#### 8) Using Python list slice to delete elements

In [115]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
del colors[2:5]

print(colors)

['red', 'orange', 'indigo', 'violet']

## Unpacking in Python

#### The following example defines a list of strings:

In [103]:
colors = ['red', 'blue', 'green']
red = colors[0]
blue = colors[1]
green = colors[2]

red, blue, green = colors

In [104]:
colors = ['red', 'blue', 'green']
red, blue = colors

ValueError: too many values to unpack (expected 2)

#### Unpacking and packing

In [105]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [116]:
colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors
print(cyan)
print(magenta)
print(other)

cyan
magenta
['yellow', 'black']

## How to Use a For Loop to Iterate over a List

#### Iterate in List

In [117]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

#### Using Python for loop to iterate over a list with index

In [119]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [120]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [121]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

## How to Find the Index of an Element in a List

In [118]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [106]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

Osaka doesn't exist in the list.

## Python Iterables

In [107]:
for index in range(3):
    print(index)

0
1
2

In [124]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

red

In [125]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [126]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

In [108]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

# cause an excpetion
color = next(colors_iter)
print(color)

red
green
blue

StopIteration:

In [109]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

## Transform, Filter and Reduce List elements

In [127]:
bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

#### 1)Using the Python map() function for a list of strings

In [128]:
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

#### 2) Using the Python map() function to a list of tuples

In [129]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

## How to Filter List Elements in Python

In [130]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

### Python filter() function to filter a list of tuples

In [131]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

## How to Use the Python Reduce() function to Reduce a List into a Single Value

In [132]:
scores = [75, 65, 80, 95, 50]

total = 0

for score in scores:
    total += score

print(total)

365

In [133]:
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [134]:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

365

## Python List Comprehensions

In [135]:
numbers = [1, 2, 3, 4, 5]

squares = []
for number in numbers:
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

### Python list comprehension with if condition

In [137]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

# SECTION 6 : DICTIONARIES

In [140]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green'], 'active': True}

### Accessing values in a Dictionary

#### 1) Using square bracket notation

In [141]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

### 2) Using the get() method

In [144]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn', '000-00-0000')
print(ssn)

000-00-0000

#### Modifying values in a key-value pair

In [145]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

#### Removing key-value pairs

In [146]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

### 1)Looping through a dictionary

In [110]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

In [147]:

person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [111]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

In [149]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

### 2) Looping through all the keys in a dictionary

In [150]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person:
    print(key)

first_name
last_name
age
favorite_colors
active

### 3) Looping through all the values in a dictionary

In [151]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

## Python Dictionary Comprehension

#### 1)Using Python dictionary comprehension to transform a dictionary

In [152]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

#### 2)Using Python dictionary comprehension to filter a dictionary

In [153]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

# SECTION 7 : SETS

In [112]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [113]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Problem solving', 'Critical Thinking'}

In [154]:
characters = set('letter')
print(characters)

{'e', 'r', 't', 'l'}

#### Getting sizes of a set

In [155]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

#### Checking if an element is in a set

In [116]:
ratings = {1, 2, 3, 4, 5}
rating = 2

if rating  in ratings:
    print(f'The set contain {rating}')

The set contain 2

In [117]:
ratings = {1, 2, 3, 4, 5}
rating = 6

if rating not in ratings:
    print(f'The set does not contain {rating}')

The set does not contain 6

### Adding elements to a set

In [157]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Python programming', 'Software design', 'Problem solving'}

### Removing an element from a set

In [119]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Software design')

print(skills)

{'Problem solving', 'Python programming'}

### Returning an element from a set

In [159]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

Python programming
set()

### Frozen a set

In [160]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)

### Looping through set elements

In [163]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills):
    print(f"{index}.{skill}")

skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

Python programming
Software design
Problem solving
0.Python programming
1.Software design
2.Problem solving
1.Python programming
2.Software design
3.Problem solving

## SET AND SET COMPREHENSION

#### Python Set Comprehension

In [164]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [165]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'django', 'pandas'}

## Python Set Union

In [166]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'C#', 'Java', 'Python'}

#### Union sets using the | operator

In [167]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'C#', 'Java', 'Python'}

#### The union() method vs. set union operator

In [2]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

## Python Set Intersection

#### 1) Using Python set intersection() method to intersect two or more sets

In [121]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'C++', 'Java'}

#### 2) Using Python set intersection (&) operator to intersect two or more sets

In [120]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'C++', 'Java'}

In [122]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

In [123]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers & scores

print(numbers)

TypeError: unsupported operand type(s) for &: 'set' and 'list'

## Python Set Difference

#### 1) Using Python Set difference() method to find the difference between sets

In [171]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [124]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

#### 2) Using Python set difference operator (-) to find the difference between sets

In [174]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

## Python Symmetric Difference

#### 1) Using the symmetric_difference() method to find the symmetric difference of sets

In [176]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

#### 2) Using the symmetric difference operator(^) to find the symmetric difference of sets

In [177]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores.symmetric_difference(ratings)

print(new_set)

{10, 7}

## Python issubset

In [178]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [125]:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

In [126]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(numbers.issubset(scores))

False

#### Using subset operators

In [127]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result) 

result = numbers <= numbers
print(result)

True
True

In [128]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)  # True

result = numbers < numbers
print(result)  # False

True
False

## Python issuperset

In [130]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(scores)

print(result)

True

In [131]:
numbers = {1, 2, 3, 4, 5}
result = numbers.issuperset(numbers)

print(result)

True

In [132]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(numbers)

print(result)

False

### Using superset operators

In [133]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result) 

result = numbers >= numbers
print(result)

True
True

In [134]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # True

True
False

## Python Disjoint Sets

In [135]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [182]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

In [136]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

#### Python for else

In [138]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

age not found!

#### Python while else

In [139]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
found_it = False

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        found_it = True
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        break

    index += 1

if not found_it:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 10 orange(s)

#### Unpacking a tuple

In [142]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

In [143]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [144]:
x = 10
y = 20

print(f'x={x}, y={y}')

x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [146]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

# SECTION 8 : EXECEPTION HANDLING

#### Exception handling try_except, try_except_finally , try_except_else

#### Exceptions

In [185]:
# get input net sales
print('Enter the net sales for')

previous = float(input('- Prior period:'))
current = float(input('- Current period:'))

# calculate the change in percentage
change = (current - previous) * 100 / previous

# show the result
if change > 0:
    result = f'Sales increase {abs(change)}%'
else:
    result = f'Sales decrease {abs(change)}%'

print(result)

Enter the net sales for
Sales increase 260.0%

### Handling exceptions

In [186]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
Sales increase 1500.0%

### Catching specific exceptions

In [187]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
Sales increase 12.5%

### Handling multiple exceptions

In [188]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
except Exception as error:
    print(error)

Enter the net sales for
Sales increase 80.0%

## Python try_except_finally

### Python try…catch…finally statement examples

In [147]:
a = 10
b = 0

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

division by zero
Finishing up.

In [148]:
a = 10
b = 2

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

5.0
Finishing up.

## Python try…except…else

#### 1) Using try…except…else statement for control flow

In [191]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2


def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'


def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print(error)
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

main()

Your body mass index is 0.1
This is considered underweight!

#### 2) Using Python try…except…else and finally example

In [193]:
fruits = {
    'apple': 10,
    'orange': 20,
    'banana': 30
}

key = None
while True:
    try:
        key = input('Enter a key to lookup (or type "quit" to exit):')
        if key.lower() == 'quit':
            break
        fruit = fruits[key.lower()]
    except KeyError:
        print(f'Error! {key} does not exist.')
    else:
        print(fruit)
    finally:
        print('Type "quit" to exit.')

Error!  does not exist.
Type "quit" to exit.
Type "quit" to exit.

# SECTION 9 : MORE ON LOOPS

## FOR_ELSE

In [198]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

{'name': 'Peter', 'age': 30}

In [199]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

for person in people:
    if person['name'] == name:
        print(person)
        break
else:
    print(f'{name} not found!')

{'name': 'Peter', 'age': 30}

#### WHILE ELSE

In [200]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
found_it = False

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        found_it = True
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        break

    index += 1

if not found_it:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 20 apple(s)

In [201]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]

    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 10 orange(s)

#### DO WHILE LOOP

In [202]:
from random import randint


MIN = 0
MAX = 20


secret_number = randint(MIN, MAX)

attempt = 0

while True:
    attempt += 1

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')
        break

Bingo! 1 attempt(s)

In [204]:
from random import randint

MIN = 0
MAX = 10

secret_number = randint(MIN, MAX)

attempt = 0

while True:
    attempt += 1

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')
        break

It should be smaller.
It should be bigger.
It should be bigger.
Bingo! 4 attempt(s)

# SECTION 10 : MORE ON FUNCTIONS

## Unpacking Tuple

In [205]:
x = 10
y = 20

print(f'x={x}, y={y}')

x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [206]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

#### Extended unpacking using the * operator

In [158]:
r, g, *other = (192, 210, 100, 0.5)

### *ARGS

In [208]:

def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

In [159]:
def add(*args):
    print(args)


add()

()

In [160]:
def add(*args):
    print(args)


add(1,2,3)

(1, 2, 3)

In [161]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

In [207]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

### **KWARGS

In [211]:
def connect(**kwargs):
    print(kwargs)


config = {'server': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'Py1thon!Xt12'}

connect(**config)
def connect(fn, **kwargs):
    print(kwargs)

{'server': 'localhost', 'port': 3306, 'user': 'root', 'password': 'Py1thon!Xt12'}

### Using both *args and **kwargs arguments

In [213]:
def fn(*args, **kwargs):
    print(args)
    print(kwargs)
   
fn(1, 2, x=10, y=20)

(1, 2)
{'x': 10, 'y': 20}

In [162]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

## Partial Functions

In [214]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)

20

### Python partial function from functools module

In [215]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

### Python partial functions and variables

In [216]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  
print(result)

x = 3
result = f(10)  
print(result)

20
20

In [163]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [164]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi(123)
print(greeting)

Hi 123

## TYPE HINTS

### Using a static type checker tool: mypy

In [218]:
def say_hi(name):
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

### Using a static type checker tool: mypy

### Type aliases

In [ ]:
from typing import Union

number = Union[int, float]


def add(x: number, y: number) -> number:
    return x + y

### Adding type hints for lists, dictionaries, and sets

In [222]:
from typing import List

ratings: List[int] = [1, 2, 3]